<%- include('partials/header') %>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Your Houses</div>
                                    <% count = 0; %>
                                    <% houses.forEach((house) => { %>
                                        <% if(house.agent === user._id) { %>
                                            <% count += 1; %>
                                        <% } %>    
                                    <% }); %>
                                    <div class="stat-digit"><%- count %></div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success w-<%- count %>" role="progressbar" aria-valuenow="<%- count %>" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Requests</div>
                                    <% requestcount = 0; %>
                                    <% requests.forEach((request) => { %>
                                        <% requestcount += 1; %>
                                    <% }); %>
                                    <div class="stat-digit"><%- requestcount %></div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary w-<%- requestcount %>" role="progressbar" aria-valuenow="<%- requestcount %>" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Task Completed</div>
                                    <div class="stat-digit"> <i class="fa fa-usd"></i> 500</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Task Completed</div>
                                    <div class="stat-digit"> <i class="fa fa-usd"></i>650</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger w-65" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- /# column -->
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

<%- include('partials/footer') %>